# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore environment files
.env
env/
venv/

# Ignore Django migration files
*.sqlite3
db.sqlite3

# Ignore media and static files
/media/
/staticfiles/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore logs
*.log
