{% extends "blank_layout.html" %}
{% load static %}


{% block content %}
<!-- Account Page -->
<div class="account-page">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <img src="{% static 'images/image1.png' %}" width="100%">
            </div>
            <div class="col-2">
                <div class="form-container">
                    
                    <!-- Display messages -->
                    {% if messages %}
                    <div class="message-container">
                        <ul class="messages">
                            {% for message in messages %}
                                <li class="{{ message.tags }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <div class="form-btn">
                        <span onclick="login()">Login</span>
                        <span onclick="register()">Register</span>
                        <hr id="Indicator">
                    </div>

                    <form id="LoginForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <button type="submit" class="btn" name="login">Login</button>
                        <a href="">Forget Password</a>
                    </form>

                    
                    <form id="RegForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" name="username" placeholder="Username" required>
                        <input type="tel" name="mobile" placeholder="Phone No." required pattern="[0-9]{10}" title="10-digit phone number">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="password" name="password" placeholder="Password" required>
                        <input type="text" name="address" placeholder="Address" required>
                        <button type="submit" class="btn" name="register">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



 
{% endblock content %}

{% block extrascripts %}
<!-- Toggle Form -->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");
        function register() {
            RegForm.style.transform = "translatex(0px)";
            LoginForm.style.transform = "translatex(0px)";
            Indicator.style.transform = "translateX(100px)";

        }
        function login() {
            RegForm.style.transform = "translatex(300px)";
            LoginForm.style.transform = "translatex(300px)";
            Indicator.style.transform = "translate(0px)";

        }
    </script>

<!-- After registeration --login -->
{% if register %}
    <script> register() </script>
{% else %}
    <script> login() </script>
{% endif %}


{% endblock extrascripts %}