{% extends "blank_layout.html" %}
{% block content %}
<div class="thank-you-container">
    <h1>Thank You!</h1>
    <p>Your message has been received. We will get back to you shortly.</p>
</div>

<style>
    .thank-you-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Full height of the viewport */
        text-align: center;
        padding: 20px;
    }

    .thank-you-container h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    .thank-you-container p {
        font-size: 18px;
        line-height: 1.6;
    }
</style>
{% endblock %}


